body{
    margin: 0px;
    background: #e0f7fa;
}

.papers{
    margin-left : 20px;
    margin-right : 15px;
    padding : 10px;
}
.chips{
    margin: 15px;
}
a, a:hover{
    text-decoration:none !important;
    cursor: pointer;
}